# Databáze a zálohy. Ven z webu se nesmí dostat nic z tohoto adresáře.
<IfModule mod_authz_core.c>
  Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
  Order allow,deny
  Deny from all
</IfModule>
